body {
  background: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  line-height: 1.7;
  margin: 0;
  color: #2B3840;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
  color: #337AB7;
}

header {
  min-height: 50px;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 35px;
  color: #fff;
  background-color: #337AB7;
}

header img {
  max-height: 35px;
  margin-right: 10px;
}

#content {
  padding: 10px 20px;
}

.team-color {
  display: inline-block;
  float: left;
  height: 20px;
  width: 20px;
  margin-top: 8px;
  margin-right: 10px;
  background-color: #f1f1f1;
  border: solid 1px #ddd;
  border-radius: 50%;
}

.gameRow {
  border: solid 1px #ddd;
  padding: 10px;
  color: #666;
}

.fieldRow{
  color: #999;
  margin-bottom: 20px;
}

.field-description {
  font-size: 15px;
}

.dateRow {
  margin: 30px 0 60px 0;
  color: #0A4182;
}

.nav {
  font-size: 13px;
  margin-top: 20px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #0A4182;
}

.nav>li>a {
  padding: 3px 6px;
}

.time {
  color: #337AB7;
}
.return-to-all {
  display: block;
  margin-top: 20px;
}
.team-name {
  margin-top: 20px;
  margin-bottom: 10px
}

.team-name .team-color {
  width: 30px;
  height: 30px;
}
